@page "/admin/grants"

@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Components.Forms
@inject IWebHostEnvironment Environment
@inject NavigationManager NavigationManager
@inject LocalDbService LocalDbService
@layout BadgeFed.Components.Layouts.AdminLayout
@rendermode InteractiveServer

@attribute [Authorize(Roles = "Admin, Superuser")]
<h1>Manage Badge Grant Records</h1>

@if (records == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Badge Title</th>
                <th>Issued To</th>
                <th>Issued By</th>
                <th>Issued On</th>
                <th>Accepted On</th>
                <th>Accept Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in records)
            {
                var actorName = actors.ContainsKey(record.IssuedBy) 
                    ? actors[record.IssuedBy].FullName 
                    : record.IssuedBy.Substring(record.IssuedBy.LastIndexOf('/') + 1);
                
                <tr class="@(!string.IsNullOrEmpty(record.NoteId) ? "has-background-success-light" : "")">
                    <td>@record.Id</td>
                    <td>@record.Title</td>
                    <td><a href="@record.IssuedToSubjectUri">@(string.IsNullOrEmpty(record.IssuedToName) ? record.IssuedToSubjectUri : record.IssuedToName)</a></td>
                    <td><a href="@record.IssuedBy">@actorName</a></td>
                    <td>@record.IssuedOn</td>
                    <td>@record.AcceptedOn</td>
                    <td>
                        @if (string.IsNullOrEmpty(record.AcceptKey)) {
                            if (string.IsNullOrEmpty(record.FingerPrint)) {
                                <a href="/admin/grant/@record.Id/process" class="button is-primary is-small">Process</a>
                            } else {
                                <a href="/admin/grant/@record.Id/broadcast" class="button is-light is-small">Broadcast</a>

                                <a href="@record.NoteId" class="button is-info is-small">View</a>

                                <div class="buttons">
                                    <a href="/admin/grant/@record.Id/notify-processed/activitypub" class="button is-light is-small" title="Notify via ActivityPub">
                                        <span class="icon">
                                            <i class="fas fa-broadcast-tower"></i>
                                        </span>
                                        <span>ActivityPub</span>
                                    </a>
                                    <a href="/admin/grant/@record.Id/notify-processed/email" class="button is-light is-small" title="Notify via Email">
                                        <span class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                        <span>Email</span>
                                    </a>
                                </div>
                            }
                        } else {
                            <a href="/accept/grant/@record.Id/@record.AcceptKey">Accept link</a>
                            
                            <div class="buttons">
                                <a href="/admin/grant/@record.Id/notify/activitypub" class="button is-light is-small" title="Notify via ActivityPub">
                                    <span class="icon">
                                        <i class="fas fa-broadcast-tower"></i>
                                    </span>
                                    <span>ActivityPub</span>
                                </a>
                                <a href="/admin/grant/@record.Id/notify/email" class="button is-light is-small" title="Notify via Email">
                                    <span class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span>Email</span>
                                </a>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<BadgeRecord?> records;

    private Dictionary<string, Actor> actors;

    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var actorList = LocalDbService.GetActors();

        actors = actorList.ToDictionary(a => a.Uri!.ToString());

        records = LocalDbService.GetBadgeRecords()!;
    }
}
