@page "/admin/actors"

@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Components.Forms
@inject IWebHostEnvironment Environment
@inject NavigationManager NavigationManager
@inject LocalScopedDb LocalDbService
@layout BadgeFed.Components.Layouts.AdminLayout
@rendermode InteractiveServer
@using System.Security.Claims;
@inject CurrentUser CurrentUser

@attribute [Authorize(Roles = "admin, manager")]

<h1 class="title">Manage Issuers</h1>

<div class="mb-4 has-text-right">
    <a href="/admin/actors/create" class="button is-success">Create New Issuer</a>
</div>

@if (actors == null)
{
    <div class="notification is-info is-light">
        <p>Loading...</p>
    </div>
}
else
{
    <div class="table-container">
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Summary</th>
                    <th>Avatar</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var actor in actors)
                {
                    <tr class="@(actor.IsMain ? "has-background-primary-light" : "")">
                        <td>@actor.FullName</td>
                        <td>@(actor.IsMain ? "A main issuer cannot issue badges by itself, and by default share all public badges in this instance." : @actor.Summary )</td>
                        <td>
                            <figure class="image is-64x64">
                                <img src="@actor.AvatarPath" alt="Avatar" class="is-rounded" />
                            </figure>
                        </td>
                        <td class="has-text-right">
                            <div class="buttons is-right">
                                <button class="button is-info is-small" @onclick="() => ViewActor(actor)">
                                    <span class="icon is-small">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                    <span>View</span>
                                </button>
                                <button class="button is-primary is-small" @onclick="() => EditActor(actor)">Edit</button>
                                @if (!actor.IsMain)
                                {
                                    if (CurrentUser.IsAdmin())
                                    {
                                        <button class="button is-warning is-small" @onclick="() => MarkAsMain(actor)">Mark as Main</button>
                                    }
                                    <button class="button is-danger is-small" @onclick="() => DeleteActor(actor)">Delete</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Actor> actors;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        FetchActors();
    }

    private void FetchActors()
    {
        if (CurrentUser.IsAdmin())
        {
            actors = LocalDbService.GetActors();
        }
        else
        {
            actors = LocalDbService.GetActors($"OwnerId = '{CurrentUser.GetGroupId()}'");
        }
    }

    private void EditActor(Actor actor)
    {
        Console.WriteLine($"Editing actor: {actor.Id}");
        NavigationManager.NavigateTo($"/admin/actors/edit/{actor.Id}");
    }

    private void ViewActor(Actor actor)
    {
        Console.WriteLine($"Viewing actor: {actor.Id}");
        if (!string.IsNullOrEmpty(actor.Uri?.ToString()))
        {
            // Open in new tab
            NavigationManager.NavigateTo(actor.Uri.ToString(), true);
        }
        else
        {
            // Navigate to a local actor profile page if URI is not available
            NavigationManager.NavigateTo($"/actors/{actor.Username}");
        }
    }

    private async void DeleteActor(Actor actor)
    {
        Console.WriteLine($"Deleting actor: {actor.Id}");
        LocalDbService.DeleteActor(actor.Id);
        FetchActors();
    }

    private void MarkAsMain(Actor actor)
    {
        actor.IsMain = true;
        LocalDbService.UpsertActor(actor);
        FetchActors();
    }
}